body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei","Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;;
}
.head {
    background-color: rgb(255, 231, 152);
    height: 8rem;
    line-height: 8rem;
    overflow: hidden;
    text-align: center;
}

.logo,.ok{
    width: 2.2rem;
    height: 2.3rem;
    padding: 0.3rem;
}
.ok {
    cursor: pointer;
}
.word {
    text-align: center;
    color:#FFA43F;
    font-size: 3rem;
}
.main {
    text-align: center;
}

table {
    border-collapse: collapse;
}
th{
    text-align: left;
}
table {
    margin: 0 auto;
    margin-bottom: 4%;
    background-color: #fffffa;
}
th, td{
    text-align: center;
    height: 2.1rem;
    width: 8rem;
    border: solid rgb(200,200,200) 1px;
    font-size: 0.8rem;
    font-weight: lighter;
    overflow: hidden;
}
.classes, .day {
    font-size: 1rem;
    font-weight: bolder;
}
.time {
    width: 30rem;
}
.day {
    background-color: #FFD7A1;
}
.foot {
    height:40rem;
    margin-top: -3.8%;
    background-color: rgb(179, 179, 179);
}
.head_word {
    background-color: rgb(179, 179, 179);
}
.head_word p{
    text-align: center;
    padding-top: 2rem;
    font-size: 1rem;
    color:#734718;
}
.area {
    width: 28rem;
    height:28rem;
    margin: 0 auto;
    background-color: rgb(222,222,222);
    text-align: center;
}
.nav {
    background-color: #e6e6e6;
}
#change {
    margin-left: -0.9%;
    margin-right: -0.9%;
    width: 25%;
    font-size: 1.3rem;
}
#change2 {
    background-color: #FFA43F;
    border: #FFA43F;
    width: 250px;
    margin: 0 auto;
}


a {
    color: rgb(100,100,100);
}


#end {
    display: none;
    font-size: 1.3rem;
    background-color: rgb(100,100,100);
    width: 300px;
    height: 300px;
    height: 1.3rem;
    margin:0;
    padding: 0;
}
.early {
    margin-top: 1rem;
}

.now {
    background-color: rgb(200,200,200);
}