<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Time scheduler</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="{{ static_url("assets") }}/i/logo.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{{ static_url("assets") }}/i/logo.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="{{ static_url("assets") }}/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="{{ static_url("assets") }}/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="{{ static_url("assets") }}/css/amazeui.min.css">
  <link rel="stylesheet" href="{{ static_url("stylesheets") }}/index.css">
</head>
<body>
<!--在这里编写你的代码-->

    <div class="main">
        <div class="head">
            <h2 class="word am-monospace">Time scheduler</h2>
        </div>
        <div class="nav">
             <button id="change" type="button" class="am-btn am-btn-default"><a href="/">主页</a></button>
             <button id="change" type="button" class="am-btn am-btn-default"><a href="/share">回顾</a></button>
             <button id="change" type="button" class="am-btn am-btn-default now"><a href="/arranger">帮你安排</a></button>
             <button id="change" type="button" class="am-btn am-btn-default"><a href="logout">退出</a></button>
        </div>
        <div class = "table">
            <table>
            </table>
        </div>
        <div class="am-g">
          <div class="am-u-md-8 am-u-sm-centered">
            <form class="am-form" method="post" action='/arranger'>
              <fieldset class="am-form-set">
                <input type="text" placeholder="写下你的待做事件" name="things_todo">
                <input type="text" placeholder="它的deadline （月日，格式：xx-xx）" name = "deadline">
              </fieldset>
              <button type="submit arrange_submit" class="am-btn am-btn-primary am-btn-block" id = "change2">提交，scheduler帮帮你</button>
            </form>
          </div>
        </div>

    </div>
    <div class="foot">
      <p>防止突然闲着没事？输入待做事件，scheduler帮你安排时间~</p>
    </div> 

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{{ static_url("javascript") }}/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
</body>
</html>