<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="{{ static_url("stylesheets") }}/index.css">
</head>
<body>
    <div class="main">
        <div class="head">
            <div class= "word"><h2>你的萌萌的课程表︿．︿</h2></div>
            <div class="reg_log">
<!--                 <div class="reg">
                    <a href="/logout">退出</a>
                </div> -->
                <div class="log">
                    <a href="/regist">注册 </a>
                </div>
            </div>
        </div>

        <div class="area">
            <form method="post" action='/login'>
                <input placeholder="  请输入用户名" class="cin first" name="name"><br>
                <input placeholder="  请输入密码" class="cin" name="password"><br>
                <input type = "submit" value="登录"class = "cin submit">
            <form>
        </div>
    </div>
    <div class = "foot"></div>
</body>
</html>