<!DOCTYPE html>
<html>
<head>
    <title>注册</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="{{ static_url("stylesheets") }}/index.css">
</head>
<body>
    <div class="main">
        <div class="head">
            <div class= "word"><h2>你的萌萌的课程表︿．︿</h2></div>
            <div class="reg_log">
<!--                 <div class="reg">
                    <a href="/logout">退出</a>
                </div> -->
                <div class="log">
                    <a href="/login">登录 </a>
                </div>
            </div>
        </div>

        <div class="area">
            <form method="post" action="/regist">
            <input placeholder="  请设置用户名" class="cin first" name="name"><br>
            <input placeholder="  请设置密码" class="cin" name="password"><br>
            <!-- <input placeholder="  请重复密码" class="cin"><br> -->
            <input type = "submit" value="注册"class = "cin submit">
            </form>
        </div>
    </div>
    <div class = "foot"></div>
</body>
</html>