<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>register</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="{{ static_url("assets") }}/i/logo.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{{ static_url("assets") }}/i/logo.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="{{ static_url("assets") }}/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="{{ static_url("assets") }}/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="{{ static_url("assets") }}/css/amazeui.min.css">
  <link rel="stylesheet" href="{{ static_url("stylesheets") }}/app.css">
</head>
<body>
<!--在这里编写你的代码-->
    <div class="main">
      <div class="head" id = "reg_head">
            <img src = "{{ static_url("assets") }}/i/logo.png" alt = "logo" class = "logo">
            <h2 class="word am-monospace">Time scheduler</h2>
        </div>
        <div class="area">
          <form action='/register' method="post">
            <input placeholder="  请设置用户名" class="cin first" name="name"><br>
            <input placeholder="  请设置密码" class="cin" name="password" type="password"><br>
            <input type = "submit" value="注册"class = "cin submit"><br>
            <a href="/login">直接登录</a>
          </form>
        </div>
    </div>
    <div class = "foot"></div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{{ static_url("javascript") }}/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
</body>
</html>